.VideoScrollWrapper {
    position: relative;
    width: 100%;
    overflow: hidden;

    .VideoContainer {
        width: 100%;
        background: black;
        z-index: 2;
        
        .Video {
            object-fit: cover;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: -1;
            pointer-events: none;       
        }   
    }

    .ScrollContainer {
        width: 100%;
    }
}



